@model ListDataView

@{
    ViewBag.Title = "Create Car";
}

<h2>Create Car</h2>

@using (Html.BeginForm("CarDetails", "Home"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCarBrandId, "Car Brand")
        @Html.DropDownListFor(m => m.SelectedCarBrandId, Model.CarBrands, "-- Select Car Brand --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedCarModelId, "Car Model")
        @Html.DropDownListFor(m => m.SelectedCarModelId, Model.CarModels, "-- Select Car Model --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedTireTypeId, "Car TireType")
        @Html.DropDownListFor(m => m.SelectedTireTypeId, Model.TireType, "-- Select Tire Type --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedTireSizeId, "Car TireSize")
        @Html.DropDownListFor(m => m.SelectedTireSizeId, Model.TireSize, "-- Select Tire Size --", new { @class = "form-control" })
    </div>
    <button  type="submit" class="btn btn-primary">Create</button>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#SelectedCarBrandId').change(function () {
            var selectedCarBrandId = $(this).val();
            $.ajax({
                url: '@Url.Action("GetCarModelsByBrand", "Home")',
                type: 'GET',
                data: { carBrandId: selectedCarBrandId },
                success: function (data) {
                    var carModelDropdown = $('#SelectedCarModelId');
                    carModelDropdown.empty();
                    $.each(data, function (index, carModel) {
                        carModelDropdown.append($('<option>', {
                            value: carModel.id, 
                            text: carModel.name 
                        }));
                    });
                },
                error: function (error) {
                    console.log('Error fetching car models:', error);
                }
            });
        });

        $('#SelectedCarModelId').change(function () {
            var selectedCarModelId = $(this).val();
            $.ajax({
                url: '@Url.Action("GetTireSizesByCarModel", "Home")',
                type: 'GET',
                data: { carModelId: selectedCarModelId },
                success: function (data) {
                    var carModelDropdown = $('#SelectedTireSizeId');
                    carModelDropdown.empty();
                    $.each(data, function (index, carModel) {
                        carModelDropdown.append($('<option>', {
                            value: carModel.id,
                            text: carModel.diameter
                        }));
                    });
                },
                error: function (error) {
                    console.log('Error fetching car models:', error);
                }
            });
        });
    });
</script>